<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:p="http://www.springframework.org/schema/p"
     xmlns:c="http://www.springframework.org/schema/c"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

  <context:annotation-config />
  <bean id="worker" class="jp.classmethod.example.berserker.SpringQueueWorker" />

  <bean id="credentialsProvider" class="com.amazonaws.auth.profile.ProfileCredentialsProvider"
      c:profileName="default" />
  <bean id="amazonSQSClient" class="com.amazonaws.services.sqs.AmazonSQSClient"
      c:awsCredentialsProvider-ref="credentialsProvider" />

  <bean id="javaMailSenderImpl" class="org.springframework.mail.javamail.JavaMailSenderImpl"
      p:host="smtp.example.com"
      p:port="25"
      p:username="daisuke"
      p:password="p@ssw0rd" />

  <bean id="templateMessage" class="org.springframework.mail.SimpleMailMessage"
      p:subject="QueueWorker sample"
      p:from="daisuke@example.com" />

</beans>
