<?xml version="1.0"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <Target>System.out</Target>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS,JST} [%.16thread] %-5level %logger{36}:%line - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="jp.classmethod.example.berserker" level="DEBUG" />
  <logger name="jp.sf.amateras.mirage.SqlExecutor" level="WARN" />

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
