<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Berserker index page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="UTF-8" />
</head>
<body>
  <p>Hello, berserker!</p>
  <p>Now <span th:text="${now}">foobar</span></p>
  <ul>
    <li th:each="user : ${users}" th:text="${user.username}">bazqux</li>
  </ul>
  <form action="/logout" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <button type="submit">Logout</button>
  </form>
</body>
</html>
